/*base styles*/
body {
	background: $white;
}

/*nav styles*/
.nav {
	display: flex;
	justify-content: space-between;
}

.header {
	margin-top: 2rem;
}

/*main section styles*/
.intro, .stories, .header {
	margin: 4rem auto;
	max-width: 44rem;
	width: 90%;
}

/*intro styles*/
.intro p {
	margin-bottom: 1rem;
}

/*story styles*/
.story {
	margin-bottom: 2rem;
}