/*base styles*/
body {
	background: $white;
}

/*nav styles*/
.nav {
	display: flex;
	justify-content: space-between;
}

.header {
	margin-top: 2rem;
}

/*main section styles*/
.intro, .stories, .header {
	margin: 4rem auto;
	max-width: 44rem;
	width: 90%;
}

/*intro styles*/
.intro p {
	margin-bottom: 1rem;
}

q::before {
	content: '“';
}

q::after {
	content: '”';
}

/*story styles*/
.story__details {
	color: $main;
	display: flex;
	margin-top: -.5rem;
}

.story__level {
	margin-right: .5rem;
}

.story {
	margin-bottom: 2rem;
}