@media screen and (min-width: 700px) {
	h1 {
		font-size: 3rem;
		span {
			border-bottom: 1rem solid rgba($main, .5);
		}
	}

	p, a {
		font-size: 1.4rem;
	}

	.story__title {
		font-size: 1.5rem;
	}

	.story__level {
		margin-right: 1rem;
	}
}