h1 {
	color: $main;
}

h1 {
	font-family: abril-text, serif;
	font-size: 3rem;
	font-weight: 800;
	letter-spacing: .2rem;
	line-height: 1.5;
	padding-bottom: 1rem;
	span {
		border-bottom: 1rem solid rgba($main, .5);
	}
}

p {
	font-family: mr-eaves-xl-modern, sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.7;
}

.story__title {
	color: $main;
	font-family: abril-text, serif;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: .1rem;
}